.contenBox {
  height: 25rem;
  width: 53rem;

  position: relative;
  left: 23rem;
  top: 2.6rem;
  bottom: 6.1rem;
}
.contentTag {
  background-color: rgb(156, 25, 25);
  height: 4rem;
  width: 99.9rem;
}
.filterBox {
  width: 94rem;
  height: 4rem;
  outline: none;
  margin-left: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 0.2rem;
  border: 1px solid rgb(209, 208, 208);
  padding-left: 1rem;
  font-size: 1.5rem;
}
.label {
  margin-top: 1.2rem;
}
.heading {
  background-color: rgb(156, 25, 25);
  height: 4rem;
  width: 99.9rem;
  border-top: 1px solid rgb(209, 208, 208);
  border-bottom: 1px solid rgb(209, 208, 208);
}
.heading span {
  position: relative;
  top: 1.3rem;
  margin: 6rem;
}
#tag {
  margin-left: 3.5rem;
  position: relative;
  left: 4.5rem;
}
